/* src/App.css */

.App {
  text-align: center;
  text-align: center;
  margin-top: 0;
  
}

header {
  background-color: #000000;
  color: #b19141;
  padding: 1px 0;
  
}

main {
  background-color: #b19141;
  padding: 700px;
 

}

footer {
  background-color: #000000;
  color: #b19141;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* .h2 {
  h2 {
    margin-top: 10px;
    top: -2000px; 
}
} */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #080808;
  color: #b19141;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 24px;
}

/* main {
  padding: 700px;
} */

#fortune-tiger {
  text-align: center;
  font-size: 28px;
  margin-top: -50x; /* Espaço entre o header e o h2 */
}

