/* src/App.css */

.App {
  text-align: center;
  text-align: center;
  margin-top: 0;
  
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

main {
  padding: 700px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* h2 {
  position: fixed;
  top: 50;
  left: 50;
  width: 100%;
  text-align: center;
  background-color: #581313;
  color: #fff;
  padding: 10px 0;
} */
